* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: aqua;
}
a:active {
  color: green;
}
a.totop {
  padding: 30px;
  margin: 20px;
  color: blue;
}
div.totop {
  padding: 30px;
  margin: 20px;
}
body {
  /*background-image: url("lggsi-pend.jpg"); */
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
.pagehead-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  background-color: #88e;
  padding: 8px;
}
.pagehead{
  display: flex;
  width: 900px;
  justify-content: space-between;
}
.logo {
  display: flex;
  font-family: 'Cambay';
  font-size: 30px;
}
.testa {
  display: flex;
  color: #b0b0b0;
  font-family: 'Cambay';
  font-size: 30px;
}
.help {
  display: flex;
  font-family: 'Cambay';
  font-size: 30px;
  color: #b0b0b0;
  justify-content: flex-end;
}

.menu-container {
  display: flex;
  width: 900px;
  justify-content: left;
  color: #aaa;
  background-color: #999;

}
.menu{
  display: flex;
  width: 900px;
  justify-content: left;
}
.item {
  display: flex;
  padding: 10px;
}
table {
  width: 800px;
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  background-color: #d8d8d8;
  text-align: left;
  padding: 3px;
}
td {
  background-color: #e8e8e8;
  width: 100px;
  padding: 3px;
}
