* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, a:visited {
  color: #2A4B7C;
  text-decoration: none;
}
a:hover, a:active {
     color: orange;
}
body {
  /*background-color: #fccccc;  dev */
  background: linear-gradient(#e5d6c6, #c5b6a6);
  background-repeat: no-repeat;
  background-size: cover;
}
.pagehead-container {
  margin: auto;
  width: 720px;
  height: 50px;
  background-color: #eDe7c7;
  font-family: 'Cambay';
  font-size: 30px;
  padding: 5px 10px;
}
.pagehead{
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.menu-container {
  width: 720px;
  height: 32px;
  margin: auto;
  justify-content: left;
  background-color:#eDf7d7;
  font-family: 'Cambay';
  font-size: 20px;
  padding: 0px 10px;
}
.menu {
  display: flex;
}
.menu-item {
  /* border: 1px solid #ffdab9; */
  padding: 0px 20px;
  font-weight: bold;
  font-size: small;
}
.main {
  width: 720px;
  margin: auto;
}
.topnav {
  font-size: 24px;
}
p{margin: 20px 50px;}
table{
  border-collapse:collapse;
  border-spacing:0;
  max-width:100%;
  width:100%;
  display:table;
  margin: 40px 0px;
}
table td, table th{
  padding:8px 8px;
  display:table-cell;
  text-align:left;
  vertical-align:top
}
table th:first-child,table td:first-child{padding-left:16px}
table tr{border-bottom:1px solid #ddd}
table tr:nth-child(odd){background-color:#fff}
table tr:nth-child(even){background-color:#f8f8f8}
img {max-width: 100%; height: auto;}
.foot{font-size: 8px;}
 /*<p class="foot">2019-11-27T09:07+01:00 Rob Nowell</p> </body> </html> */
